.sidebar-transition {
  transition: all 0.3s ease;
}

.fade-ending {
  overflow: hidden;
  max-width: 300px; /* Adjust as needed */
  white-space: nowrap;
  text-overflow: fade;
  display: inline-block;
}

.fade-ending::after {
  content: "";
  position: absolute;
  right: 0;
  width: 30px; /* Width of the fading effect */
  height: 80%;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.1)); /* Adjust gradient as needed */
}